<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoa4c9cb967104eb9b34c4d392f39eb33b</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_KEY</key>
	<string>$(KAKAO_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-ExtraLight.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Thin.otf</string>
		<string>HSSanTokki.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
